body {
    min-height: 100vh;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}



.first-container,
.second-container,
.third-container,
.fourth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*First container*/

.first-container {
    background-color: #1F2937;
}

.header,
.banner {
    width: 50%;
}

.header {
    padding: 16px;
}

.header-list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.push-right {
    margin-left: auto;
}

.banner {
    margin: 80px auto;
    min-height: 250px;
    display: flex;
    gap: 2rem;
}

.banner-left,
.banner-right {
    flex-basis: 50%;
}

.sign-up-btn,
.sign-up-btn-2 {
    background-color: #3882F6;
    padding: 8px 32px;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
}

.banner-right {
    min-height: inherit;
    background-color: #6d747e;
}

.placeholder {
    color: #F9FAF8;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Second container*/

.information-container {
    width: 50%;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.info-image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.info-header {
    margin: 40px auto;
}


/*Third container*/

.third-container {
    background-color: #E5E7EB;
}

.quote-container {
    width: 50%;
    margin: 80px auto;
}

.quote-author {
    display: flex;
    justify-content: end;
    align-content: end;
}


/*Fourth container*/
.cta-container {
    margin: 80px;
    padding: 20px;
    width: 50%;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.cta-text {
    margin-bottom: 8px;
}
.cta-subtext {
    margin-top: 8px;
}

.sign-up-btn-2 {
    border: 2px solid #F9FAF8;
}

/*Footer*/

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 40px;
}

/*Font*/

.hero-text {
    margin: 0;
    font-size: 48px;
}

.hero-subtext,
.info-subtext,
.cta-subtext {
    font-size: 18px;
}

.info-subtext {
    text-align: center;
}

.logo,
.quote-author,
.cta-text {
    font-size: 24px;
}

.logo,
.hero-text,
.cta-text {
    color: #F9FAF8;
    font-weight: 900;
}

.header-link,
.hero-subtext,
.cta-subtext {
    color: #E5E7EB;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
}

.info-header,
.quote-author {
    color: #1F2937;
}

.quote-author {
    font-weight: 700;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:#1F2937;
}
/*End of Font*/